/* Styles go here */
.header {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.grid {
  width: 35px;
  height: 35px;
  cursor: pointer;
  align: center;
  vertical-align: center;
}
.spacer{
    background-color: transparent;
    border: none;
    cursor: auto;
}
.StartColor {
  background-color: CornflowerBlue;
}

.shell {
  width: 400px;
  height: 50px;
}

.hide {
  visibility: hidden;
}

.LtBlue {
  background-color: LightSkyBlue;
}

.Blue {
  background-color: DodgerBlue;
}

.Red {
  background-color: #f4a4a4;
}

.Green {
  background-color: #bdf5bd;
}

.Yellow {
  background-color: #fcfce8;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 5px auto;
}

.score {
  vertical-align: top;
  width: 30px;
}

.button {
  height: 25px;
  width: 100px
}

.cube {
  float: left;
  width: 15px;
  height: 15px;
  background-color: red;
  padding: 10px;
  border: 1px solid black;
}

/
